
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

body{
    font-family: Sora;
    overflow-x: hidden;
}
.herointro{
    /* display: none; */
    margin: 0;
    text-align: center;
    padding-top: 115px;
    font-weight: 600;
    font-size: 45px;
    line-height: 70px;
}
nav{
    display: flex;
    justify-content: space-between;
    height: 80px;
    
}
.brand{
    margin-left: 15px;
    display: flex;
    align-items: center;
}
ul{
    display: flex;
    list-style: none;
    align-items: center;
}
li{
    margin: 0 12px;
}
select{
    border: none;
    font-family: Sora;
    color: #013A8B;
    font-weight: 500;
}
.navwrapper{
    display: flex;
}
.navButtons{
    display: flex;
    padding: 10px;
    margin: auto 30px auto 25px;

}
.btnname{
    color: #013A8B;
    background-color: #fff;
    border: #013A8B solid 2px;
    font-family: Sora;
    padding: 12px;
    font-size: medium;
    font-weight: 500;
    border-radius: 12px;
}
.btnlogo{
    color: #013A8B;
    border: none;
    background-color: #fff;
    padding: 12px;
    font-size: medium;
    font-weight: 500;
    border-radius: 12px;
    margin: 0 12px 0 0;
}
li{
    padding: 7px;
    color: #013A8B;
    font-weight: 500;
}
.navselect{
    width:auto;
    color: #01356F;
}

/* hero section */
.anime{
    height: 48px;
    width: 910px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 3px;
    margin-top:35px ;
    border-radius:10px;
    background-color: #013A8B;
    border: 2px solid #06a8ea;
    /* border-image: linear-gradient(270deg, rgb(3,76,181)0%,rgb(6,176,239)35%,rgb(3,76,181)100%); */
}

.animewrapper{
    display: flex;
    justify-content: center;
    padding-top: 10px;
 
} 
.anihead{
    display: flex;
    align-items: center;
}

.anime>h4{
    padding-right: 60px;
    
}
.herosection{
    background-color: #013A8B;
    color: white;
    width: 100%;
    max-height: 100vh;
    height: 96vh;
}
.line{
    width: 1px;
    height: 40px;
    background-color: #0284c7;
    margin: 0 40px 0 40px;
}
.searchsection{
    
    display: flex;
    justify-content: center;
}


.herosearch{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 82px;
    width: 1150px;
    background-color: white;
    border-radius: 15px;
    border: #0284c7 2px solid;
    margin: none;

}
@keyframes bounce{
    0%{
        transform: translateY(0);
    }
    40%{
        transform: translateY(-25px);
    }
    
    }

.bounce{
    
    margin: 70px auto ;
    animation-name:bounce;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

select{
    background-color: white;
    width: 250px;
    height:40px;   
    font-size: 16px;
    color:#082F49;
}
.countrysection{
    text-align: center;
    padding: 60px;
    font-size: 36px;
    color: #01356F;
}

.countrycard{
    width: 370px;
    font-size: 20px;
}
.countryname{
    text-align: center;
    color: #01356F;
    font-size: 18px;
}

/* FEATURED SECTION */
.featured{
    background-color: #F2F3F7;
}
.featurehead{
    text-align: center;
    padding: 70px;
    font-size: 36px;
    color: #01356F;
}

.parentcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flagcontainer{
    margin: 0 30px;
}
.circle{
    background-color: #fff;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    z-index: 100;
    margin: 20px;
    box-shadow: 1px 2px rgb(218, 210, 210)
}
.bluecircle{
    border: 2px solid #013A8B;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin: 20px;
}

.flagImg{
    position: relative;
    left: 15px;
    top:28px;
}
/* student result section */
.resultsection{
    width: 100%;
    height: 750px;
    margin-top: 80px;
    background-image: url('/public/resulbg.jpg');
}

.resultimg{
    width: 30%;
    height: 76%;
    padding: 0 100px;
}
.resulthead{
    color: #fff;
    font-size: 40px;
    padding: 40px 130px 0  ; 
}
.box{
    color: #372c2c;
    width: 40vw;
    height: 500px;
    text-align: center;
    /* background-color: #959da8; */
    position: relative;
}


.page1{
   display: flex;
   justify-content: center;
   align-items: center;
   width:320%;
     margin: 40px 0;
}
main{
    /* background-color: black; */
    height:110vh
}
main > h1{
    text-align: center;
    padding-top: 70px;
    font-size: 38px;
    color: #01356F;
    margin: 0;
}
main>p{
    text-align: center;
    font-size: 20px;
}
.hawkeye{
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 120px auto 0 ;
    /* position: absolute;
    z-index: 9999;
    left: 255px ;
    top: 116px; */
}
.hawkeye1{
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 37px auto 0 ;
}
.head1{
    font-size: 20px;
    color:#01356F;
}
.head2{
    font-size: 20px;
    color:#01356F;
    margin:40px auto 0;
}
.para1{
    font-size: 20px;
    color: black;
    font-weight:400 ;
}
.para2{
    font-size: 20px;
    color: black;
    font-weight:400 ;
}
hr{
    border: none;
    border-top: 3px dashed #01356F;
    height: 3px;
    background: none;
    margin: 0;
}
.head3{
    font-size: 20px;
    color:#01356F;
    margin-top: 80px;
}
.hawkeye2{
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 71px auto 0;
}
.step2btn{
    width: 170px;
    height: 54px;
    border-radius: 18px;
    font-size: 18px;
    border: 1px solid #391952;
    

}
.step2btn:hover path {
    fill: #fff;
}
.step2btn:hover  {
    background-color: #391952;
    color: #fff;
}
.step2btn> svg{
    width: 24px;
    transform:rotate(270deg) ;
   
}


  
