
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

body{
    font-family: Sora;
}
.herointro{
    /* display: none; */
    margin: 0;
    text-align: center;
    padding-top: 115px;
    font-weight: 600;
    font-size: 45px;
    line-height: 70px;
}
nav{
    display: flex;
    justify-content: space-between;
    height: 80px;
    
}
.brand{
    margin-left: 15px;
    background: linear-gradient(to bottom, #959da8, #013A8B);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

}
ul{
    display: flex;
    list-style: none;
    margin: 20px 20px 0 0;
}
select{
    border: none;
    font-family: Sora;
    color: #013A8B;
    font-weight: 500;
}
.navwrapper{
    display: flex;
}
.navButtons{
    display: flex;
    padding: 10px;
    margin: auto 30px auto 25px;

}
.btnname{
    color: #013A8B;
    background-color: #fff;
    border: #013A8B solid 2px;
    font-family: Sora;
    padding: 12px;
    font-size: medium;
    font-weight: 500;
    border-radius: 12px;
}
.btnlogo{
    color: #013A8B;
    border: none;
    background-color: #fff;
    padding: 12px;
    font-size: medium;
    font-weight: 500;
    border-radius: 12px;
    margin: 0 12px 0 0;
}
li{
    padding: 7px;
    color: #013A8B;
    font-weight: 500;
}

/* hero section */
.anime{
    height: 48px;
    width: 910px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 3px;
    margin-top:35px ;
    border-radius:10px;
    background-color: #013A8B;
    border: 2px solid #06a8ea;
    /* border-image: linear-gradient(270deg, rgb(3,76,181)0%,rgb(6,176,239)35%,rgb(3,76,181)100%); */
}

.animewrapper{
    display: flex;
    justify-content: center;
    padding-top: 10px;
 
} 
.anihead{
    display: flex;
    align-items: center;
}
.anime>h1{
    
    /* padding-right: 60px; */
}
.anime>h4{
    padding-right: 60px;
    
}
.herosection{
    background-color: #013A8B;
    color: white;
    height: 100vh;
}
.line{
    width: 1px;
    height: 40px;
    background-color: #0284c7;
    margin: 0 40px 0 40px;
}
.searchsection{
    
    display: flex;
    justify-content: center;
}

.herosearch{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 82px;
    width: 1150px;
    background-color: white;
    border-radius: 15px;
    border: #0284c7 2px solid;
    margin: none;

}
.countrycard{
    width: 370px;
}
.countryimg{
    max-width: 380px;
    width: 400px;
}
.countryname{
    margin:2px 10px 10px 150px
}

/* FEATURED SECTION */
.featured{
    background-color: #F2F3F7;
}

.parentcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle{
    background-color: #fff;
    width: 95px;
    height: 95px;
    border-radius: 50%;
    z-index: 100;
    margin: 20px;
}

.flagImg{
    position: relative;
    left: 15px;
    top:28px;
}




  
